In [2]:
import pandas as pd
import sqlite3

# requirements.txt
pip install jupyter matplotlib numpy pandas

In [ ]:
connection = sqlite3.connect('../data.db')
cursor = connection.cursor()
cursor.execute("SELECT * FROM house_info where last_update_date = '2024-01-01'")
df = pd.DataFrame(cursor.fetchall())
df.columns = [x[0] for x in cursor.description]
df["total_price"] = pd.to_numeric(df["total_price"])
df["unit_price"] = pd.to_numeric(df["unit_price"])
connection.close()
df.head()

In [9]:
connection1 = sqlite3.connect('../data.db')
cursor1 = connection1.cursor()
cursor1.execute("SELECT * FROM house_price_change_history where job_time = '2024-02-26' and changed_total_amount!='0'")
df1 = pd.DataFrame(cursor1.fetchall())
df1.columns = [x[0] for x in cursor1.description]
df1["new_total_price"] = pd.to_numeric(df1["new_total_price"])
df1["new_unit_price"] = pd.to_numeric(df1["new_unit_price"])
df1["changed_total_amount"] = pd.to_numeric(df1["changed_total_amount"])
connection1.close()
df1.head()

,id,house_id,original_total_price,original_unit_price,new_total_price,new_unit_price,change_type,changed_total_amount,changed_unit_amount,job_time,house_area
0,31016,107109002402,260,28255,240.0,26082,down,-20.0,-2173,2024-02-26,92.02
1,31017,107109000732,230,25401,210.0,23192,down,-20.0,-2209,2024-02-26,90.55
2,31018,107108742887,200,22425,195.0,21864,down,-5.0,-561,2024-02-26,89.19
3,31019,107108461869,205,22730,200.0,22176,down,-5.0,-554,2024-02-26,90.19
4,31020,107108196605,188,16830,180.0,16114,down,-8.0,-716,2024-02-26,111.71

In [ ]:
print(df.isna().any())
print('---')
print(df.duplicated().any())

In [ ]:
#df.dtypes
df.groupby('sub_district').agg({'unit_price': 'mean'}).sort_values(by='unit_price', ascending=False)

In [ ]:
#pd.cut(df['total_price'][df['total_price']<2500], 10).value_counts()
pd.cut(df['total_price'][(df['total_price']<2500)& (df['total_price']>1000)], 10).value_counts()

In [ ]:
newdf = df[(df['total_price']<1250)& (df['total_price']>1000)]
newdf.groupby('district').agg({'house_id': 'count'})

In [10]:
pd.cut(df1['changed_total_amount'], 10).value_counts()

changed_total_amount
(-256.0, 22.0]         10582
(22.0, 300.0]            137
(-534.0, -256.0]          39
(-812.0, -534.0]           4
(-2482.78, -2202.0]        1
(-2202.0, -1924.0]         0
(-1924.0, -1646.0]         0
(-1646.0, -1368.0]         0
(-1368.0, -1090.0]         0
(-1090.0, -812.0]          0
Name: count, dtype: int64