In [3]:
import pandas as pd
import sqlite3

# requirements.txt
pip install jupyter matplotlib numpy pandas

In [4]:
connection = sqlite3.connect('../data.db')
cursor = connection.cursor()
cursor.execute("SELECT * FROM house_info where last_update_date = '2024-01-01'")
df = pd.DataFrame(cursor.fetchall())
df.columns = [x[0] for x in cursor.description]
df["total_price"] = pd.to_numeric(df["total_price"])
df["unit_price"] = pd.to_numeric(df["unit_price"])
connection.close()
df.head()

,id,house_id,district,sub_district,title,position_id,position_info,house_info,house_type,house_area,house_direction,house_decoration,house_floor,house_year,total_price,unit_price,last_update_date
0,873,107108783579,上海周边,盈浦,城北新村 2室1厅 东,5011000000927,城北新村,2室1厅|50.75平米|东|其他|低楼层(共6层)|1986年|板楼,2室1厅,50.75,东,其他,低楼层(共6层),1986年,150.0,29557,2024-01-01
1,874,107108780534,上海周边,盈浦,地铁口1100米 复试装修出售 业主诚意 电梯房一梯二户,5011000020086,卓越世纪中心(青浦),4室2厅|108.17平米|东南|简装|中楼层(共5层)|2015年|板楼,4室2厅,108.17,东南,简装,中楼层(共5层),2015年,280.0,25886,2024-01-01
2,875,107108779140,上海周边,盈浦,虹桥玫瑰公馆 3室2厅 南 北,5020036603682630,虹桥玫瑰公馆,3室2厅|94.96平米|南北|精装|低楼层(共14层)|板楼,3室2厅,94.96,南北,精装,低楼层(共14层),板楼,530.0,55813,2024-01-01
3,876,107108771209,上海周边,盈浦,青浦万达茂(住宅) 2室2厅 南,508413551013756,青浦万达茂(住宅),2室2厅|86.95平米|南|简装|高楼层(共21层)|2017年|板楼,2室2厅,86.95,南,简装,高楼层(共21层),2017年,348.0,40024,2024-01-01
4,877,107108766966,上海周边,盈浦,万达地铁 精装修 楼层好 采光好,5020041993530272,首创禧悦风华,2室2厅|75.16平米|南|精装|高楼层(共13层)|2020年|板楼,2室2厅,75.16,南,精装,高楼层(共13层),2020年,346.0,46036,2024-01-01

In [7]:
print(df.isna().any())
print('---')
print(df.duplicated().any())

id                  False
house_id            False
district            False
sub_district        False
title               False
position_id         False
position_info       False
house_info          False
house_type          False
house_area          False
house_direction     False
house_decoration    False
house_floor         False
house_year          False
total_price         False
unit_price          False
last_update_date    False
dtype: bool
---
False

In [22]:
#df.dtypes
df.groupby('sub_district').agg({'unit_price': 'mean'}).sort_values(by='unit_price', ascending=False)

                 unit_price
sub_district
新天地           161932.345972
老西门           140580.565217
徐汇滨江          139202.710692
建国西路          138746.029630
衡山路           135071.687500
...                     ...
金山新城           17993.188093
崇明新城           16769.680912
练塘             15789.000000
陈家镇            15213.259563
柘林             12529.612903

[187 rows x 1 columns]

In [31]:
#pd.cut(df['total_price'][df['total_price']<2500], 10).value_counts()
pd.cut(df['total_price'][(df['total_price']<2500)& (df['total_price']>1000)], 10).value_counts()

total_price
(1000.474, 1151.573]    2716
(1151.573, 1301.176]    2341
(1301.176, 1450.779]    1567
(1450.779, 1600.382]    1338
(1749.985, 1899.588]     837
(1600.382, 1749.985]     698
(1899.588, 2049.191]     568
(2049.191, 2198.794]     414
(2198.794, 2348.397]     367
(2348.397, 2498.0]       302
Name: count, dtype: int64

In [5]:
newdf = df[(df['total_price']<1250)& (df['total_price']>1000)]
newdf.groupby('district').agg({'house_id': 'count'})

          house_id
district
上海周边             2
嘉定              86
奉贤              20
宝山              82
徐汇             321
普陀             312
杨浦             310
松江             171
浦东             995
虹口             189
金山               1
长宁             296
闵行             386
青浦             129
静安             415
黄浦             202